/* @font-face {
  font-family: 'TheSeasons';
  src: url('./font/theseasons-bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: 'TheSeasons';
  src: url('./font/theseasons-reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('./font/BricolageGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: 'BricolageGrotesque';
  src: url('./font/BricolageGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --red: #F85646;
  --green: #288a62;
  --yellow: #F6AC33;
  --bg: white;
  --text: black;
  --grotesque: 'BricolageGrotesque', sans-serif;
  --luxury: 'TheSeasons', sans-serif;
}

body {
  font-family: var(--grotesque);
  background-color: var(--bg);
  max-width: 54rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  position: relative;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: var(--luxury);
  text-transform: uppercase;
  /* letter-spacing: .1em; */
  color: var(--red);
}

h1 {
  font-size: 2rem;
  margin: 1rem 0 1rem;
  text-align: center;
}

h2 {
  font-size: 1.728rem;
  margin: 0 0 0;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: var(--bg);
  border-bottom: 1.5px solid var(--red);
}

dl {
  margin: 0;
  letter-spacing: .1em;
}

dt {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem 0 .5rem;
  text-transform: uppercase;
  color: var(--red);
}

dd {
  margin: 0 0 0.5rem 0;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  max-height: 320px;
}

#lang {
  position: absolute;
  top: 1.5rem;
  right: 0;
}

main {
  margin: 1.5rem 0;
  columns: 2;
  gap: 4.2vw;
}

section {
  break-inside: avoid-column;
  margin: 0 0 1.5rem;
  text-wrap: balance;
}

a {
  text-transform: uppercase;
  color: var(--yellow);
  text-decoration: none;
  text-underline-offset: 0.2em;
  font-family: var(--luxury);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  main {
    columns: 1;
  }

  #logo {
    max-width: 270px;
    max-height: 270px;
  }
}


@page {
  size: A4;
  margin-bottom: 0.5cm;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  :root {
    font-size: 9pt;
  }
  body {
    break-inside: avoid;
  }
  #lang {
    display: none;
  }
  #logo {
    max-height: 108pt;
    margin-bottom: 20pt;
  }
  main {
    columns: 2;
  }
}
